<footer>
    <div class="container-11">
        <div class="row flex-jc-between">
            <div class="col-3 col-l-6 col-s-10">
                <img src="/svg/atherdev.svg" alt="" class="col-6">
            </div>
        </div>
        <div class="row">
            <div class="col-3 col-l-6 col-s-12">
                <p>© 2022 Atherdev</p>
            </div>
        </div>
        <div class="row flex-jc-between">
            <div class="col-4 col-m-12">
                <h4>About us</h4>
                <div><a href="/" class="color-txt-white"><i class='bx bx-home-alt-2 color-txt-white' ></i> Home</a></div>
                <div><a href="https://github.com/AtherActive-net" class="color-txt-white"><i class='bx bxl-github color-txt-white' ></i> Github</a></div>
            </div>
            <div class="col-4 col-m-12">
                <h4>Libraries/Frameworks</h4>
                <div><a href="https://auracss.atherdev.nl/" class="color-txt-white">AuraCSS</a></div>
            </div>
            <div class="col-4 col-m-12">
                <h4>Other Projects</h4>
                <div><a href="https://github.com/Starbase-Market-Services" class="color-txt-white">Starbase Market Services</a></div>
                <div><a href="https://eve.atherdev.nl/" class="color-txt-white">EVE - Wormhole Rolling</a></div>
            </div>
        </div>

        <div class="col-12 flex-jc-center flex-ai-center">
            <p class="color-txt-white txt-fs-08">Made with <i class="bx bxs-heart"></i> by <a href="https://atherdev.nl/" class="color-txt-normal">Ather</a> with AuraCSS v2.0-pre.1</p>
        </div>
    </div>
</footer>