<nav class="nav-top flex-fd-rowr">
    <div class="siteinfo flex flex-jc-center col-3">
        <img src="/svg/Ather_A_logo.svg" alt="" style="width:4rem">
    </div>
    <ul>
        <li><a href="/about"><span>About</span></a></li>
        <li>
            <a href="#"><span>Libraries <i class='bx bx-down-arrow' ></i></span></a>
            <ul class="bg-background-bright">
                <li><a href="#"><span><img src="/svg/Ather_A_logo.svg" alt="" style="width:1rem"> AuraCSS</span></a></li>
            </ul>
        </li>
        <li>
            <a href="#"><span>Projects <i class='bx bx-down-arrow' ></i></span></a>
            <ul class=" bg-background-bright">
                <li><a href=""><span><i class='bx bx-line-chart' ></i> SB Market Services</span></a></li>
                <li><a href=""><span><i class='bx bx-rocket' ></i> Ather - Eve Tools</span></a></li>
                <li><a href=""><span><i class='bx bx-package' ></i> [deprec] CSS Packer</span></a></li>
            </ul>
        </li>
    </ul>
</nav>