<nav class="nav-top flex-fd-rowr">
    <div class="siteinfo flex flex-jc-center col-3">
        <img src="/svg/Ather_A_logo.svg" alt="A logo." style="width:4rem">
    </div>
    <ul>
        <li>
            <a><span>Libraries <i class='bx bx-down-arrow' ></i></span></a>
            <ul class="bg-background-bright">
                <li><a href="https://github.com/atheractive/auracss"><span><img src="/svg/Ather_A_logo.svg" alt="AuraCSS Icon" style="width:1rem"> AuraCSS</span></a></li>
                <li><a href="https://github.com/atheractive-net/atherjs"><span><img src="/svg/Ather_A_logo.svg" alt="AuraCSS Icon" style="width:1rem"> AtherJS</span></a></li>
            </ul>
        </li>
        <li>
            <a><span>Projects <i class='bx bx-down-arrow' ></i></span></a>
            <ul class=" bg-background-bright">
                <li><a href="https://noteit.atherdev.nl/"><i class='bx bxs-notepad' ></i> Note!t</a></li>
                <li><a href="https://github.com/Starbase-Market-Services"><span><i class='bx bx-line-chart' ></i> SB Market Services</span></a></li>
                <li><a href="https://eve.atherdev.nl/"><span><i class='bx bx-rocket' ></i> Ather - Eve Tools</span></a></li>
            </ul>
        </li>
        <li>
            <a><span>Tech Demo's <i class='bx bx-down-arrow' ></i></span></a>
            <ul class=" bg-background-bright">
                <li><p class=" txt-fs-06 txt-align-center">These projects are likely discontinued.</p></li>
                <li><a href="https://github.com/AtherActive/csspacker"><span><i class='bx bx-package' ></i> [deprec] CSS Packer</span></a></li>
                <li><a href="https://github.com/Starbase-Market-Services"><span>2D Space Shooter</span></a></li>
                <li><a href="https://eve.atherdev.nl/"><span>Zeta</span></a></li>
                <li><a href="https://github.com/AtherActive/csspacker"><span>Fiber</span></a></li>
            </ul>
        </li>
    </ul>
    <a href="javascript:void()" class="nav-hamburger"><i class='bx bx-menu txt-align-center'></i></a>
</nav>