<nav class="nav-top">
    <div class="siteinfo flex flex-jc-center">
        <div class="col-6"><img src="/svg/atherdev.svg" alt=""></div>
    </div>
    <ul>
        <li><a href="/about"><span>About</span></a></li>
        <li>
            <a href="#"><span>Libraries <i class='bx bx-down-arrow' ></i></span></a>
            <ul class="bg-background-bright">
                <li><a href="#"><span><i class='bx bxs-file-css' ></i> AuraCSS</span></a></li>
            </ul>
        </li>
        <li>
            <a href="#"><span>Projects <i class='bx bx-down-arrow' ></i></span></a>
            <ul class=" bg-background-bright">
                <li><a href=""><span><i class='bx bx-line-chart' ></i> SB Market Services</span></a></li>
                <li><a href=""><span><i class='bx bx-rocket' ></i> Ather - Eve Tools</span></a></li>
                <li><a href=""><span><i class='bx bx-package' ></i> [dep] CSS Packer</span></a></li>
            </ul>
        </li>
    </ul>
</nav>